@model List< SpGetReportVacationPlans>
@{
    ViewData["Title"] = "ViewReportVacationPlan";
}

<h4 class="alert alert-info"> عرض تقرير الاجازة</h4>

<form asp-action="GetReportVacationPlan" asp-controller="VacationPlans">

    <div class="row">
        <div class="form-group col-md-6">
            <label class="control-lable">من تاريخ</label>
            <input type="date" class="form-control" name="FromDate" value="@(DateTime.Now.ToString("yyyy"))-01-01" />
        </div>
        <div class="form-group col-md-6">
            <label class="control-lable">الي تاريخ</label>
            <input type="date" class="form-control" name="ToDate" value="@(DateTime.Now.ToString("yyyy"))-12-30" />
        </div>


        <div class="form-group col-md-6 ">
            <label class="control-lable">االموظفين</label>
            <select class="form-control" name="EmployeeId" asp-items="@(new SelectList (ViewBag.Employees,"Id","Name"))">
                <option value="">------ اختر الموظف----</option>
            </select>
        </div>

         <div class="form-group col-md-2">
        <input type="submit" class="btn btn-success col-md-12" value="search" />
    </div>
     <div class="form-group col-md-2">
        <input type="submit" class="btn btn-info col-md-12" value="Print" />
    </div>
     <div class="form-group col-md-2">
        <input type="submit" class="btn btn-outline-secondary col-md-12" value="Download Pdf" />
    </div>
    </div>

   

</form>


@if (Model != null)
{

    <table class="table table-bordered table-striped hover">
        <thead>
            <tr>
               <th>Id</th>
               <th>Name</th>
               <th>Vacation Balance</th>
               <th>Total Vacation</th>
               <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                   <td>@item.Id</td>
                   <td>@item.Name</td>
                   <td>@item.VacationBalance</td>
                   <td>@item.Totalvacations</td>
                   <td>@item.Total</td>
                </tr>
            }
        </tbody>
    </table>


}
else
{
    <h4 class="alert alert-danger">لا يوجد بيانات -------!</h4>
}